<html>
<head>
    <title>mum:title</title>
    <style type="text/css">
        a:link { 
		font-weight: bold; 
		text-decoration: none;
		color: white       
	}
	a:visited { 
		font-weight: bold; 
		text-decoration: none;
		color: white
	}
        a:hover { 
		font-weight: bold; 
		text-decoration: none; 
		color: gold 
	}
    </style>
</head>
<body bgcolor="#4b4b4b">
	<!-- Navigation Bar -->

	<table border=0 cellspacing=0 width="100%">
	  <tr>
     	      <td align="left" width="1%">
     		  <a href="mum:image_link_prev">
		    <img src="prev.png" align="center" width="40" height="30" border="0"></a> </td>
	      <td valign="center" align="center" width="15%" bgcolor="#969696">
		<font style=bold color="white">
		<b>mum:image_id / mum:images</b>
		</font>
	      </td>
	      <td align="left" width="1%">
		<a href="mum:image_link_next">
		<img src="next.png" align="center" width="40" height="30" border="0"> </a>
	      </td>
	    <td align="right" width="83%">
	      <a href="mum:page_link_index">
		<img src="back.png" width="30" height="30" border="0"></a>
	    </td>
	  </tr>
	  <tr>
	    <td colspan=4 width="100%" bgcolor="#969696">
	      <img src="1.gif" height="1" border="0"></td>
	  </tr>
	</table>

	&nbsp;<BR>

        <table width="100%" border="0" align="center">
          <tr align="left">


	      <td>
	        <a href="mum:image_link_prev">
	          <img src="mum:image_prev" border="2"></a>
	      </td>


            <td align="center" colspan="2">
              <img src="mum:img" border=2/><BR>
            </td>


    	      <td align="right">
	        <a href="mum:image_link_next">
		  <img src="mum:image_next" border="2"></a>
	      </td>


          </tr>
	  <tr>
            <td colspan="4">
              &nbsp;
	    </td>
          </tr>
          <tr align="left">
	    <td>&nbsp;</td>
            <td colspan="2">
	      <font color="white">
		 mum:comments
	      </font>
	    </td>
	    <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4">
              &nbsp;
	    </td>
          </tr>
          <tr align="left">
	    <td>&nbsp;</td>
            <td>
              <font color="#969696"><b>Image:</b></font>
	    </td>
	    <td width="100%">
      	      <font color="white">
		 mum:file_name
	      </font>
	    </td>
	    <td>&nbsp;</td>
          </tr>
          <tr align="left">
	    <td>&nbsp;</td>
            <td>
              <font color="#969696"><b>Dimensions:</b></font>
	    </td>
	    <td width="100%">
	      <font color="white">
		 mum:image_dim pixels
	      </font>
	    </td>
	    <td>&nbsp;</td>
          </tr>
	  <!--
          <tr align="left">
	    <td>&nbsp;</td>
            <td>
              <font color="#969696"><b>Bytes:</b></font>
	    </td>
	    <td width="100%">
	      <font color="white">
		 mum:file_size
	      </font>
	    </td>
	    <td>&nbsp;</td>
          </tr>
	  -->
        </table>

	&nbsp;<BR>

	<!-- Navigation Bar -->

	<table border=0 cellspacing=0 width="100%">
	  <tr>
	    <td colspan=4 width="100%" bgcolor="#969696">
	      <img src="1.gif" height="1" border="0"></td>
	  </tr>
	  <tr>
	      <td align="left" width="1%">
		  <a href="mum:image_link_prev">
		    <img src="prev.png" align="center" width="40" height="30" border="0"></a>
	      </td>
	      <td valign="center" align="center" width="15%" bgcolor="#969696">
		<font style=bold color="white">
		<b>mum:image_id / mum:images</b>
		</font>
	      </td>
	      <td align="left" width="1%">
		  <a href="mum:image_link_next">
		    <img src="next.png" align="center" width="40" height="30" border="0"> </a>
	      </td>

	    <td align="right" width="83%">
	      <a href="mum:page_link_index">
		<img src="back.png" width="30" height="30" border="0"></a>
	    </td>
	  </tr>
	</table>
</body>
</html>
